 /* link styles */

 a:link {
	color: #003399;
	text-decoration: none;
 }

 a:visited, a:active { color: maroon;
	text-decoration: none;
 }

 a:hover { color: purple;
	text-decoration: none;
 }

 .recordlink {
	font-style:italic;
	text-transform:capitalize;
 }

 .songlink {
	text-transform: capitalize;
 }

 /* pre styles */

 pre, .tab, .chords, .verse {
	font: "Lucida Console","Bitstream Vera Sans Mono","Courier New",Courier,monospace 90%/100%;
	margin-top: 1.5em;
 }

 .refrain, .bridge { margin-left: 30px;
 }

 .refrain { margin-top: -5px; 
padding-top: 0px; 
 }

 .bridge2 { margin-left: 60px;
 }

 .spoken {
	font-style: italic;
 }


 /*paragraph styles */

 body {
	padding: 0 1em;
 }

 body, td, p {
	font-size: 1em;
	font-family: Georgia,"URW Palladio L",garamond,"book antiqua",serif;
	margin: 0.7em 0 1em;
 }

 .first { text-indent: 0px;
 }

 .stor { font-size: 1.2em;
 }

 .quote { margin: 20px 2em;
	font-size: 0.85em;
	text-indent: 0px;
 }

 .footnotes {
	font-size: smaller;
	width: 80%;
 }

 h1, h2, h3, h4 {
	font-family: "URW Gothic L", "Century Gothic", "Avant Garde", verdana, "Trebuchet MS", sans-serif;
	font-weight:normal;
 }

 h1 {
	text-transform: capitalize;
 }

 .songversion {
	font-size: 1.4em;
 }

 .songtitle {
 }

 .leftcol { float: left;
	width: 49.9%;
 }

 .rightcol { width: 49.9%;
	float: left;
 }

 abbr {
	border-bottom-style:dashed;
	cursor:help;
 }

 /* Var page elements */

 .greenbox {
	background-color:#cc9;
	text-align:center;
	font-size:0.9em;
	border: 2px solid #866;
	margin: 1em 0;
	text-indent: 0px;
	padding: 1em 0;
	font-family: "URW Gothic L","Century Gothic", verdana, "Trebuchet MS", sans-serif;
 }

 .greenbox a {
	display: block;
	padding: 0 2px;
	color: #333;
	border: 1px solid #cc9;
 }

.greenbox a:visited {
	color: #333;
}

.greenbox a:hover {
	background-color:#FFFFFF;
	color: maroon;
	border: 1px solid black;
}

 /* misc styles */

 .dropcap {
	font-size: 300%;
	line-height: 90%;
	float: left;
	padding-right: 2px;
 }

 .smallcaps {
	font-variant: small-caps;
 }

 hr {
	margin: 15px 0;
 }

 .byline {
	font-size: 0.8em;
	font-style: italic;
 }

 .center {
	text-align:center;
 }

 .red {color: #FF0000}
